In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
# Create dataframe
op_df = pd.read_csv("data//haunted_places_.csv")
op_df.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097

In [14]:
# op_df

In [15]:
clean_op_df = op_df.rename(columns={
    'state_abbrev': 'state/province',
    'city_longitude': 'longitude',
    'city_latitude': 'latitude',
})

# Make sql compatible 
# clean_ods_df = clean_ods_df.rename(columns={
#     'Full_State': 'full_state',
#     'Population': 'population',
#     'Deaths': 'deaths',
#     'State': 'state'
# })
clean_op_df = clean_op_df[['city', 'state', 'country', 'description', 'latitude', 'longitude']]
clean_op_df.head()

,city,state,country,description,latitude,latitude,longitude,longitude
0,Ada,Michigan,United States,Ada witch - Sometimes you can see a misty blue...,42.962106,42.960727,-85.504893,-85.495480
1,Addison,Michigan,United States,A little girl was killed suddenly while waitin...,41.971425,41.986434,-84.381843,-84.347168
2,Adrian,Michigan,United States,If you take Gorman Rd. west towards Sand Creek...,41.904538,41.897547,-84.035656,-84.037166
3,Adrian,Michigan,United States,"In the 1970's, one room, room 211, in the old ...",41.905712,41.897547,-84.017565,-84.037166
4,Albion,Michigan,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,42.244006,42.243097,-84.745177,-84.753030

In [16]:
clean_op_df ['type'] = "Haunted"

In [17]:
# Need to replace the name of the sqlite file
engine = create_engine('sqlite:///paranormal_activity.db')
# Need to replace the table name
clean_op_df.to_sql(name='paranormal', con=engine, if_exists='append', index=False)
# Need to read from right table to verify insertion of data
pd.read_sql_query('select * from paranormal', con=engine).head()

,description,city,state,country,type,latitude,longitude,encounter_seconds,season
0,3 differants types &#44 cluster &#44delta &#44...,connersville,in,us,UFO,39.641111,-85.141111,14400.0,
1,Started off as 3 points of intense yellow ligh...,st. john&#39s (canada),nf,ca,UFO,47.550000,-52.666667,7200.0,
2,Bright lights with incredible agility seen fro...,rachel,nv,us,UFO,37.644722,-115.742778,10800.0,
3,pulsating green white and red object in the no...,temperance,mi,us,UFO,41.779167,-83.568889,18000.0,
4,For two consecutive nights&#44 we watched a pa...,crescent beach,sc,us,UFO,33.807500,-78.701111,37800.0,

In [18]:
# Create dataframe
# pre_df = pd.read_csv("data//prescriber-info.csv")
# pre_df.head()

In [19]:
# # Clean Data
# clean_pre_df = pre_df.drop(['Opioid.Prescriber', 'Credentials'], axis = 1)
# clean_pre_df = clean_pre_df[['NPI', 'Gender', 'State', 'Specialty']]

# # Make sql compatible 
# clean_pre_df = clean_pre_df.rename(columns={
#     'NPI': 'npi',
#     'Gender': 'gender',
#     'State': 'state',
#     'Specialty': 'specialty'
# })
# clean_pre_df.head()

In [20]:
# Create dataframe
# pnl_df = pd.read_csv("data//provider name & location.csv")
# pnl_df.head()

In [21]:
# # Clean Data
# clean_pnl_df = pnl_df[['NPI', 'Provider Last Name (Legal Name)','Provider First Name','Provider Business Practice Location Address City Name', 'Provider Business Practice Location Address State Name' ]]
# clean_pnl_df = clean_pnl_df.rename(columns={
#     'Provider Last Name (Legal Name)': 'Last Name',
#     'Provider First Name': 'First Name',
#     'Provider Business Practice Location Address City Name':'City',
#     'Provider Business Practice Location Address State Name': 'State'
# })

# # Make sql compatible 
# clean_pnl_df = clean_pnl_df.rename(columns={
#     'NPI': 'npi',
#     'Last Name': 'last_name',
#     'First Name': 'first_name',
#     'City': 'city',
#     'State': 'state'
# })
# clean_pnl_df = clean_pnl_df[['npi', 'first_name', 'last_name', 'city', 'state']]
# clean_pnl_df.head()

In [22]:
# If you want to go by names
clean_names_pnl_df = clean_pnl_df.dropna()
clean_names_pnl_df.head()

NameError: name 'clean_pnl_df' is not defined

In [ ]:
# # Connect to local database
# from db_key import *

# engine = create_engine(f'postgresql://{username}:{password}@localhost:{port}/Opioids_db')

In [ ]:
# # Check for table names
# engine.table_names()

C:\Users\beall\AppData\Local\Temp/ipykernel_1912/859109461.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "blank"

(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# clean_pre_df.to_sql(name='prescriber_info', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "prescriber_info_pkey"
DETAIL:  Key (npi)=(1881821767) already exists.

[SQL: INSERT INTO prescriber_info (npi, gender, state, specialty) VALUES (%(npi)s, %(gender)s, %(state)s, %(specialty)s)]
[parameters: ({'npi': 1881821767, 'gender': 'F', 'state': 'TX', 'specialty': 'Dentist'}, {'npi': 1366547762, 'gender': 'F', 'state': 'OR', 'specialty': 'Nurse Practitioner'}, {'npi': 1932164084, 'gender': 'F', 'state': 'AR', 'specialty': 'Family Practice'}, {'npi': 1306821517, 'gender': 'F', 'state': 'WI', 'specialty': 'Nurse Practitioner'}, {'npi': 1861644999, 'gender': 'F', 'state': 'AZ', 'specialty': 'Nurse Practitioner'}, {'npi': 1558537290, 'gender': 'F', 'state': 'NY', 'specialty': 'Nurse Practitioner'}, {'npi': 1508829706, 'gender': 'F', 'state': 'VA', 'specialty': 'Nurse Practitioner'}, {'npi': 1295842748, 'gender': 'F', 'state': 'TX', 'specialty': 'Certified Clinical Nurse Specialist'}  ... displaying 10 of 25000 total bound parameter sets ...  {'npi': 1407883903, 'gender': 'M', 'state': 'MD', 'specialty': 'Family Practice'}, {'npi': 1114274065, 'gender': 'M', 'state': 'NY', 'specialty': 'Student in an Organized Health Care Education/Training Program'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
# clean_ods_df.to_sql(name='overdoses', con=engine, if_exists='append', index=False)

In [ ]:
# clean_pnl_df.to_sql(name='provider_name_loc', con=engine, if_exists='append', index=False)

In [ ]:
# pd.read_sql_query('select * from prescriber_info', con=engine).head()

          npi gender state           specialty
0  1881821767      F    TX             Dentist
1  1366547762      F    OR  Nurse Practitioner
2  1932164084      F    AR     Family Practice
3  1306821517      F    WI  Nurse Practitioner
4  1861644999      F    AZ  Nurse Practitioner

In [ ]:
# pd.read_sql_query('select * from overdoses', con=engine).head()

  state  full_state  population deaths
0    AL     Alabama   4,833,722    723
1    AK      Alaska     735,132    124
2    AZ     Arizona   6,626,624  1,211
3    AR    Arkansas   2,959,373    356
4    CA  California  38,332,521  4,521

In [ ]:
# pd.read_sql_query('select * from provider_name_loc', con=engine).head()

          npi first_name last_name         city state
0  1033693072       None      None        PLANO    TX
1  1578208872       None      None     BISMARCK    ND
2  1104561406     LEONID    GOZMAN  GAINESVILLE    FL
3  1306595061       None      None    LAS VEGAS    NV
4  1043963150       None      None    WEST LAWN    PA

In [ ]:
# # Join tables into one table
# final_df1 = pd.read_sql_query(
#     'select prescriber_info.npi, prescriber_info.gender, prescriber_info.state, prescriber_info.specialty,\
#          provider_name_loc.first_name, provider_name_loc.last_name, provider_name_loc.city, \
#             overdoses.population, overdoses.deaths\
#             from prescriber_info \
#             LEFT JOIN provider_name_loc ON provider_name_loc.npi=prescriber_info.npi\
#                 LEFT JOIN overdoses ON overdoses.state=prescriber_info.state', 
#     con=engine)

# final_df1

,npi,gender,state,specialty,first_name,last_name,city,population,deaths
0,1881821767,F,TX,Dentist,None,None,None,"26,448,193","2,601"
1,1366547762,F,OR,Nurse Practitioner,None,None,None,"3,930,065",522
2,1932164084,F,AR,Family Practice,None,None,None,"2,959,373",356
3,1306821517,F,WI,Nurse Practitioner,None,None,None,"5,742,713",853
4,1861644999,F,AZ,Nurse Practitioner,None,None,None,"6,626,624","1,211"
...,...,...,...,...,...,...,...,...,...
24995,1629361126,F,NY,Student in an Organized Health Care Education/...,None,None,None,"19,651,127","2,300"
24996,1619141108,F,LA,Rheumatology,None,None,None,"4,625,470",777
24997,1053754226,F,MA,Student in an Organized Health Care Education/...,None,None,None,"6,692,824","1,289"
24998,1407883903,M,MD,Family Practice,None,None,None,"5,928,814","1,070"
24999,1114274065,M,NY,Student in an Organized Health Care Education/...,None,None,None,"19,651,127","2,300"

In [ ]:
# # Dropna on final (in case needed). Much less data.
# final_df2 = final_df1.dropna()
# final_df2

,npi,gender,state,specialty,first_name,last_name,city,population,deaths
96,1326338104,F,NY,Nurse Practitioner,MARIE FINELLE,PINEDA,SUFFERN,"19,651,127","2,300"
513,1487681748,F,KY,Nurse Practitioner,BETH,COY,LEXINGTON,"4,395,295","1,077"
601,1265624084,F,FL,Nurse Practitioner,ADELAIDE,BAUER,FORT LAUDERDALE,"19,552,860","2,634"
2213,1386708022,M,MS,Dentist,THOMAS,HODGE,BATESVILLE,"2,991,207",336
5091,1568790046,F,OR,Family Practice,MELISSA,KNUTSON,BOZEMAN,"3,930,065",522
5461,1528379617,F,MO,Emergency Medicine,ERIN,KINNEY,SAINT LOUIS,"6,044,171","1,067"
5849,1336327055,F,MO,Nurse Practitioner,KIMBERLY,KEMNITZER,SALEM,"6,044,171","1,067"
7827,1639333834,M,MA,Emergency Medicine,ADRIAN,ELLIOT,GREAT BARRINGTON,"6,692,824","1,289"
8662,1083903595,M,NY,Emergency Medicine,RAYMOND,BIERSBACH,CANTON,"19,651,127","2,300"
8981,1700889938,M,SC,Nephrology,RICHARD,BROWDER,NORTH CHARLESTON,"4,774,839",701
9615,1205045416,F,NY,Internal Medicine,LAURA,KORIN,SCARSDALE,"19,651,127","2,300"
10038,1629396486,M,FL,Rheumatology,LUIS,ARIAS-URDANETA,MIAMI SHORES,"19,552,860","2,634"
10947,1669480752,M,TX,Family Practice,FRANCISCO,CERVANTES,SAN ANTONIO,"26,448,193","2,601"
11559,1750523692,M,NJ,Student in an Organized Health Care Education/...,ARIF,SHAHZAD,THE WOODLANDS,"8,899,339","1,253"
11880,1306812078,M,IN,Obstetrics/Gynecology,RICHARD,GATES,INDIANAPOLIS,"6,570,902","1,172"
13848,1164715397,M,NY,Family Practice,EMIR,HODZIC,VESTAL,"19,651,127","2,300"
14455,1922007160,M,SC,Urology,ALAN,FOGLE,CHARLESTON,"4,774,839",701
14889,1841497211,M,OR,Family Practice,TIMOTHY,ELZINGA,PORTLAND,"3,930,065",522
16375,1487874244,M,PA,Otolaryngology,MIHIR,PATEL,ATLANTA,"12,773,801","2,732"
16395,1477509404,M,SC,Nephrology,HENRY,AYIKU,NORTH CHARLESTON,"4,774,839",701
16548,1720059397,F,TN,Neurology,DEKA,EFOBI,MURFREESBORO,"6,495,978","1,269"
18284,1174522148,F,IL,Family Practice,MANEKA,KAUL,MUNSTER,"12,882,135","1,705"
18605,1326255142,M,FL,Emergency Medicine,RICARDO,REVILLA,DESTIN,"19,552,860","2,634"
19300,1164548814,M,AZ,Internal Medicine,PETER,PARKER,SCOTTSDALE,"6,626,624","1,211"
19547,1679513626,M,TX,Cardiology,ABRAHAM,JACOB,JACKSONVILLE,"26,448,193","2,601"
20148,1700840170,M,CA,Anesthesiology,AMIT,GUPTA,ALBUQUERQUE,"38,332,521","4,521"
21192,1063739704,F,ID,Nurse Practitioner,RUTHANN,RAFACZ,GLENDIVE,"1,612,136",212
21491,1255637757,M,TX,Nurse Practitioner,MUHAMMAD-RIZWAN,RAJA,HOUSTON,"26,448,193","2,601"
21645,1518201300,F,FL,Nurse Practitioner,ANGELIQUE,JONES,JACKSONVILLE,"19,552,860","2,634"
21818,1689907164,M,VA,Optometry,NEIL,SAMPLE,ABINGDON,"8,260,405",980
22475,1174859581,F,KY,Physician Assistant,JILL,DELAIR,LEXINGTON,"4,395,295","1,077"
23568,1982741542,F,GA,Physician Assistant,TAMARA,RICHARDSON,MONTGOMERY,"9,992,167","1,206"
23676,1932478856,M,NC,Physician Assistant,DANIEL,MCKEARNEY,RALEIGH,"9,848,060","1,358"